<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">搜索</h4>
          <h6 class="card-subtitle mb-2 text-muted">将您的试题复制到下面的大文本框，即可自动开始检索。</h6>
        </div>
        <div class="form-group has-success">
          <textarea class="form-control textarea-search" rows="5" placeholder="试题"></textarea>
        </div>
        <div class="input-group has-success">
          <input type="text" class="form-control form-control-success text-answer" placeholder="答案">
          <span class="input-group-btn">
            <button class="btn btn-secondary btn-answer" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </span>
        </div>
        <div class="card-block">
          <span class="text-muted">
            <span><i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i> 检索中，请稍后……</span><br>
            <span><i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i> 检索完毕。您还可以添加自己的答案。</span><br>
            <span><i class="fa fa-check-square fa-fw" aria-hidden="true"></i> 您的答案已经添加成功。</span>
          </span>
        </div>

      </div>
    </div>
    <div class="col-md-8">
      <h1 class="mb-3">结果</h1>
      <div class="card-columns">
        <div class="card" *ngFor="let id of [0, 1, 2, 3, 4, 5]">
          <div class="card-block">
            <h4 class="card-title">#{{ id }}</h4>
            <p>我是 23333</p>
            <h6 class="card-subtitle text-muted">答案为 122</h6>
          </div>
        </div>
      </div>
    </div>      
  </div>
</div>